* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.user-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin:80px;
  border: 2px dashed orangered;
}

.btn {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(44, 176, 216);
    border-color: rgb(44, 176, 216);
}

.p {
  margin: 7px;
}